In [1]:
#Import some modules
import numpy as np
import pandas as pd
from sklearn.feature_selection import f_regression, SelectKBest, f_classif

%matplotlib inline
import matplotlib.pyplot as plt

#Read in the training data
X_train = pd.read_pickle('X_train')
y_train = pd.read_pickle('y_train')

In [2]:
#Get the features with a reliable relationship with default and sort by f-score
f, pval  = f_regression(X_train, y_train, center=True)
feat_pval = pd.Series(data = pval < (0.05 / len(X_train.columns)), index = X_train.columns) #Bonferroni correction
feat_f = pd.Series(data = f, index = X_train.columns)
df = pd.DataFrame()
df['f_score'] = feat_f
df['pval'] = feat_pval
df.sort_values('f_score', ascending=False, inplace=True)
df[df.pval == True]

                            f_score  pval
dti                     2144.122904  True
revol_util              1698.801392  True
inq_last_6mths           667.886665  True
annual_inc               521.507100  True
has_mortgage             400.675602  True
has_rent                 381.917681  True
total_credit_rv          378.573578  True
for_business             281.144233  True
last_cred_pl             253.070482  True
avg_inc                  241.925690  True
prop_edu                 225.392139  True
total_acc                197.385691  True
for_cc                   155.548441  True
avg_itemized             150.121397  True
avg_mort_intr            136.871330  True
erlst_cred               130.973036  True
prop_itemized            123.059258  True
avg_SS                   113.082602  True
prop_mort_intr            84.407608  True
for_debt                  73.457803  True
prop_st_loans             73.000271  True
for_other                 65.813174  True
mnths_since_delinq_1st    59.451189  True
avg_st_loans              57.546311  True
for_purchase              56.623216  True
avg_unemp                 55.847059  True
for_home_imp              55.796867  True
delinq_2yrs               55.205010  True
for_car                   52.431736  True
emp_length                50.319007  True
prop_SS                   35.114876  True
prop_unemp                27.129606  True
has_coll                  22.637695  True
open_acc                  20.896045  True
mnths_since_record_7th    20.418837  True
mnths_since_record_2nd    18.929425  True
for_wedding               18.345471  True
mnths_since_record_3rd    15.669100  True
mnths_since_delinq_2nd    15.486865  True
mnths_since_derog_1st     13.966397  True
mnths_since_record_4th    12.313852  True
mnths_since_record_8th    11.960923  True

In [4]:
#42 reliable features, most of which have to do with financial status, some have to do with regional properties
len(df[df.pval == True])

42