In [20]:
import pandas as pd
import numpy as np
irs13 = pd.read_csv('13zpallnoagi.csv',
                   usecols = ['ZIPCODE', 'N1', 'A00100', 'N19300', 'A19300', 'N04470', 'A04470',
                             'N03210', 'A03210', 'N03230', 'A03230', 'N02500', 'A02500', 'N02300', 
                              'A02300', 'SCHF'])
irs13.rename(columns = {'ZIPCODE': 'zip', 'N1': 'n_returns', 'A00100': 'adj_gross_inc', 
                        'N19300': 'n_mort_intr', 'A19300': 'amt_mort_intr', 'N04470': 'n_itemized', 
                        'A04470': 'amt_itemized', 'N03210': 'n_st_loans', 'A03210': 'amt_st_loans', 
                        'N03230': 'n_edu', 'A03230': 'amt_edu', 'N02500': 'n_SS', 'A02500': 'amt_SS', 
                        'N02300': 'n_unemp', 'A02300': 'amt_unemp', 'SCHF': 'n_farm'}, inplace = True)

In [21]:
irs13.head()

,zip,n_returns,adj_gross_inc,n_farm,n_unemp,amt_unemp,n_SS,amt_SS,n_st_loans,amt_st_loans,n_edu,amt_edu,n_itemized,amt_itemized,n_mort_intr,amt_mort_intr
0,0,2022380,105089761,42430,97390,368048,273060,3375472,120820,119655,16130,39885,549880,11672356,406720,3032021
1,35004,4930,255534,0,190,767,620,7039,540,533,60,117,1780,30225,1480,9782
2,35005,3300,128387,0,140,572,440,3892,210,192,0,0,910,14963,700,3723
3,35006,1230,58302,0,70,369,200,2067,50,45,0,0,250,4099,200,1074
4,35007,11990,643708,30,370,1553,1420,18391,1130,1124,140,370,4440,81461,3750,26003