In [23]:
import pandas as pd
import numpy as np

#Load in the IRS data for the different years w/desired columns
irs13 = pd.read_csv('13zpallnoagi.csv',
                   usecols = ['ZIPCODE', 'N1', 'A00100', 'N19300', 'A19300', 'N04470', 'A04470',
                             'N03210', 'A03210', 'N03230', 'A03230', 'N02500', 'A02500', 'N02300', 
                              'A02300', 'SCHF'])
irs12 = pd.read_csv('12zpallnoagi.csv',
                   usecols = ['ZIPCODE', 'N1', 'A00100', 'N19300', 'A19300', 'N04470', 'A04470',
                             'N02500', 'A02500', 'N02300', 'A02300', 'SCHF'])
irs11 = pd.read_csv('11zpallnoagi.csv',
                   usecols = ['ZIPCODE', 'N1', 'A00100', 'N19300', 'A19300', 'N04470', 'A04470',
                             'N02500', 'A02500', 'N02300', 'A02300', 'SCHF'])
irs10 = pd.read_csv('10zpallnoagi.csv',
                   usecols = ['ZIPCODE', 'N1', 'A00100', 'N19300', 'A19300', 'N04470', 'A04470',
                             'N02500', 'A02500', 'N02300', 'A02300', 'SCHF'])
irs09 = pd.read_csv('09zpallnoagi.csv',
                   usecols = ['ZIPCODE', 'N1', 'A00100', 'N19300', 'A19300', 'N04470', 'A04470',
                             'N02500', 'A02500', 'N02300', 'A02300', 'SCHF'])

#Rename the columns
irs13.rename(columns = {'ZIPCODE': 'zipcd', 'N1': 'n_returns', 'A00100': 'adj_gross_inc', 
                        'N19300': 'n_mort_intr', 'A19300': 'amt_mort_intr', 'N04470': 'n_itemized', 
                        'A04470': 'amt_itemized', 'N03210': 'n_st_loans', 'A03210': 'amt_st_loans', 
                        'N03230': 'n_edu', 'A03230': 'amt_edu', 'N02500': 'n_SS', 'A02500': 'amt_SS', 
                        'N02300': 'n_unemp', 'A02300': 'amt_unemp', 'SCHF': 'n_farm'}, inplace = True)
irs12.rename(columns = {'ZIPCODE': 'zipcd', 'N1': 'n_returns', 'A00100': 'adj_gross_inc', 
                        'N19300': 'n_mort_intr', 'A19300': 'amt_mort_intr', 'N04470': 'n_itemized', 
                        'A04470': 'amt_itemized', 'N02500': 'n_SS', 'A02500': 'amt_SS', 
                        'N02300': 'n_unemp', 'A02300': 'amt_unemp', 'SCHF': 'n_farm'}, inplace = True)
irs11.rename(columns = {'ZIPCODE': 'zipcd', 'N1': 'n_returns', 'A00100': 'adj_gross_inc', 
                        'N19300': 'n_mort_intr', 'A19300': 'amt_mort_intr', 'N04470': 'n_itemized', 
                        'A04470': 'amt_itemized', 'N02500': 'n_SS', 'A02500': 'amt_SS', 
                        'N02300': 'n_unemp', 'A02300': 'amt_unemp', 'SCHF': 'n_farm'}, inplace = True)
irs10.rename(columns = {'ZIPCODE': 'zipcd', 'N1': 'n_returns', 'A00100': 'adj_gross_inc', 
                        'N19300': 'n_mort_intr', 'A19300': 'amt_mort_intr', 'N04470': 'n_itemized', 
                        'A04470': 'amt_itemized', 'N02500': 'n_SS', 'A02500': 'amt_SS', 
                        'N02300': 'n_unemp', 'A02300': 'amt_unemp', 'SCHF': 'n_farm'}, inplace = True)
irs09.rename(columns = {'ZIPCODE': 'zipcd', 'N1': 'n_returns', 'A00100': 'adj_gross_inc', 
                        'N19300': 'n_mort_intr', 'A19300': 'amt_mort_intr', 'N04470': 'n_itemized', 
                        'A04470': 'amt_itemized', 'N02500': 'n_SS', 'A02500': 'amt_SS', 
                        'N02300': 'n_unemp', 'A02300': 'amt_unemp', 'SCHF': 'n_farm'}, inplace = True)

#Set the zipcode as the index
irs13.set_index(irs13.zipcd, inplace = True)
irs12.set_index(irs12.zipcd, inplace = True)
irs11.set_index(irs11.zipcd, inplace = True)
irs10.set_index(irs10.zipcd, inplace = True)
irs09.set_index(irs09.zipcd, inplace = True)

In [24]:
irs13.head()

,zipcd,n_returns,adj_gross_inc,n_farm,n_unemp,amt_unemp,n_SS,amt_SS,n_st_loans,amt_st_loans,n_edu,amt_edu,n_itemized,amt_itemized,n_mort_intr,amt_mort_intr
zipcd,,,,,,,,,,,,,,,,
0,0,2022380,105089761,42430,97390,368048,273060,3375472,120820,119655,16130,39885,549880,11672356,406720,3032021
35004,35004,4930,255534,0,190,767,620,7039,540,533,60,117,1780,30225,1480,9782
35005,35005,3300,128387,0,140,572,440,3892,210,192,0,0,910,14963,700,3723
35006,35006,1230,58302,0,70,369,200,2067,50,45,0,0,250,4099,200,1074
35007,35007,11990,643708,30,370,1553,1420,18391,1130,1124,140,370,4440,81461,3750,26003

In [25]:
irs12.head()

,zipcd,n_returns,adj_gross_inc,n_farm,n_unemp,amt_unemp,n_SS,amt_SS,n_itemized,amt_itemized,n_mort_intr,amt_mort_intr
zipcd,,,,,,,,,,,,
0,0,2023670,105232773,42940,126240,497305,260970,3107827,580000,12404797,434960,3437923
35004,35004,4930,257563,0,230,989,580,6317,1890,32795,1640,11743
35005,35005,3370,130344,0,190,841,420,3765,1000,16433,750,4183
35006,35006,1300,59920,0,80,408,210,1931,280,4723,230,1424
35007,35007,11800,630557,30,470,1882,1330,16499,4680,85719,4020,30242