In [41]:
import pandas as pd
import numpy as np
import utils as ut

#Load in the IRS data for the different years w/desired columns
irs13 = pd.read_csv('13zpallnoagi.csv',
                   usecols = ['ZIPCODE', 'N1', 'A00100', 'N19300', 'A19300', 'N04470', 'A04470',
                             'N03210', 'A03210', 'N03230', 'A03230', 'N02500', 'A02500', 'N02300', 
                              'A02300', 'SCHF'])
irs12 = pd.read_csv('12zpallnoagi.csv',
                   usecols = ['ZIPCODE', 'N1', 'A00100', 'N19300', 'A19300', 'N04470', 'A04470',
                             'N02500', 'A02500', 'N02300', 'A02300', 'SCHF'])
irs11 = pd.read_csv('11zpallnoagi.csv',
                   usecols = ['ZIPCODE', 'N1', 'A00100', 'N19300', 'A19300', 'N04470', 'A04470',
                             'N02500', 'A02500', 'N02300', 'A02300', 'SCHF'])
irs10 = pd.read_csv('10zpallnoagi.csv',
                   usecols = ['ZIPCODE', 'N1', 'A00100', 'N19300', 'A19300', 'N04470', 'A04470',
                             'N02500', 'A02500', 'N02300', 'A02300', 'SCHF'])
irs09 = pd.read_csv('09zpallnoagi.csv',
                   usecols = ['ZIPCODE', 'N1', 'A00100', 'N19300', 'A19300', 'N04470', 'A04470',
                             'N02500', 'A02500', 'N02300', 'A02300', 'SCHF'])

#Rename the columns
irs13.rename(columns = {'ZIPCODE': 'zipcd', 'N1': 'n_returns', 'A00100': 'adj_gross_inc', 
                        'N19300': 'n_mort_intr', 'A19300': 'amt_mort_intr', 'N04470': 'n_itemized', 
                        'A04470': 'amt_itemized', 'N03210': 'n_st_loans', 'A03210': 'amt_st_loans', 
                        'N03230': 'n_edu', 'A03230': 'amt_edu', 'N02500': 'n_SS', 'A02500': 'amt_SS', 
                        'N02300': 'n_unemp', 'A02300': 'amt_unemp', 'SCHF': 'n_farm'}, inplace = True)
irs12.rename(columns = {'ZIPCODE': 'zipcd', 'N1': 'n_returns', 'A00100': 'adj_gross_inc', 
                        'N19300': 'n_mort_intr', 'A19300': 'amt_mort_intr', 'N04470': 'n_itemized', 
                        'A04470': 'amt_itemized', 'N02500': 'n_SS', 'A02500': 'amt_SS', 
                        'N02300': 'n_unemp', 'A02300': 'amt_unemp', 'SCHF': 'n_farm'}, inplace = True)
irs11.rename(columns = {'ZIPCODE': 'zipcd', 'N1': 'n_returns', 'A00100': 'adj_gross_inc', 
                        'N19300': 'n_mort_intr', 'A19300': 'amt_mort_intr', 'N04470': 'n_itemized', 
                        'A04470': 'amt_itemized', 'N02500': 'n_SS', 'A02500': 'amt_SS', 
                        'N02300': 'n_unemp', 'A02300': 'amt_unemp', 'SCHF': 'n_farm'}, inplace = True)
irs10.rename(columns = {'ZIPCODE': 'zipcd', 'N1': 'n_returns', 'A00100': 'adj_gross_inc', 
                        'N19300': 'n_mort_intr', 'A19300': 'amt_mort_intr', 'N04470': 'n_itemized', 
                        'A04470': 'amt_itemized', 'N02500': 'n_SS', 'A02500': 'amt_SS', 
                        'N02300': 'n_unemp', 'A02300': 'amt_unemp', 'SCHF': 'n_farm'}, inplace = True)
irs09.rename(columns = {'ZIPCODE': 'zipcd', 'N1': 'n_returns', 'A00100': 'adj_gross_inc', 
                        'N19300': 'n_mort_intr', 'A19300': 'amt_mort_intr', 'N04470': 'n_itemized', 
                        'A04470': 'amt_itemized', 'N02500': 'n_SS', 'A02500': 'amt_SS', 
                        'N02300': 'n_unemp', 'A02300': 'amt_unemp', 'SCHF': 'n_farm'}, inplace = True)

##Set the zipcode as the index
#irs13.set_index(irs13.zipcd, inplace = True)
#irs12.set_index(irs12.zipcd, inplace = True)
#irs11.set_index(irs11.zipcd, inplace = True)
#irs10.set_index(irs10.zipcd, inplace = True)
#irs09.set_index(irs09.zipcd, inplace = True)

In [ ]:
#Get anonymized zipcode data for each year (anonymized means that the last two numbers have been stripped)
anon_irs13 = ut.zipcode_processor(irs13, ['n_returns', 'adj_gross_inc', 'n_mort_intr', 'amt_mort_intr',
                                        'n_itemized', 'amt_itemized', 'n_st_loans', 'amt_st_loans', 
                                        'n_edu', 'amt_edu', 'n_SS', 'amt_SS', 'n_unemp', 'amt_unemp', 'n_farm'])
anon_irs12 = ut.zipcode_processor(irs12, ['n_returns', 'adj_gross_inc', 'n_mort_intr', 'amt_mort_intr',
                                        'n_itemized', 'amt_itemized', 'n_SS', 'amt_SS', 'n_unemp', 
                                        'amt_unemp', 'n_farm'])
anon_irs11 = ut.zipcode_processor(irs11, ['n_returns', 'adj_gross_inc', 'n_mort_intr', 'amt_mort_intr',
                                        'n_itemized', 'amt_itemized', 'n_SS', 'amt_SS', 'n_unemp', 
                                        'amt_unemp', 'n_farm'])
anon_irs10 = ut.zipcode_processor(irs10, ['n_returns', 'adj_gross_inc', 'n_mort_intr', 'amt_mort_intr',
                                        'n_itemized', 'amt_itemized', 'n_SS', 'amt_SS', 'n_unemp', 
                                        'amt_unemp', 'n_farm'])
anon_irs09 = ut.zipcode_processor(irs10, ['n_returns', 'adj_gross_inc', 'n_mort_intr', 'amt_mort_intr',
                                        'n_itemized', 'amt_itemized', 'n_SS', 'amt_SS', 'n_unemp', 
                                        'amt_unemp', 'n_farm'])

,adj_gross_inc,amt_SS,amt_edu,amt_itemized,amt_mort_intr,amt_st_loans,amt_unemp,n_SS,n_edu,n_farm,n_itemized,n_mort_intr,n_returns,n_st_loans,n_unemp
542,150963.727273,5722.181818,43.090909,17377.954545,3575.227273,200.818182,1521.727273,476.818182,22.272727,94.090909,861.818182,635.909091,2856.818182,218.636364,347.272727
543,794584.833333,23587.500000,374.833333,94495.666667,20490.333333,1478.500000,5641.666667,1898.333333,175.000000,33.333333,4528.333333,3585.000000,14728.333333,1506.666667,1346.666667
544,133146.676056,4535.760563,42.971831,14480.309859,2884.408451,183.929577,1212.028169,382.957746,19.859155,90.000000,731.267606,535.211268,2591.690141,211.549296,307.042254
545,52029.048780,2661.902439,6.609756,6089.536585,1339.487805,52.560976,553.853659,226.585366,3.658537,11.463415,293.170732,206.585366,1099.024390,60.243902,132.926829
546,118859.306122,3799.857143,44.653061,13515.346939,2740.306122,229.877551,846.285714,331.224490,27.142857,115.306122,652.448980,488.979592,2338.775510,244.489796,210.816327
547,127481.395833,4110.604167,45.708333,14400.958333,3076.833333,249.833333,1050.854167,354.375000,21.041667,118.333333,720.000000,539.791667,2510.625000,270.625000,247.291667
548,68613.368421,3015.333333,13.543860,7806.456140,1709.508772,108.929825,754.964912,261.754386,6.491228,40.000000,395.438596,289.298246,1491.578947,123.859649,166.491228
549,274429.104167,8339.208333,112.916667,32962.895833,6900.625000,432.687500,1966.729167,685.833333,56.875000,74.791667,1577.708333,1225.000000,4855.208333,452.500000,472.916667
820,334858.000000,10573.800000,211.800000,26366.900000,9377.800000,560.200000,1259.800000,799.000000,124.000000,75.000000,1338.000000,1094.000000,6008.000000,566.000000,276.000000
821,15565.000000,0.000000,0.000000,601.000000,179.000000,58.000000,420.000000,0.000000,0.000000,0.000000,40.000000,30.000000,310.000000,60.000000,110.000000
822,53427.400000,2046.200000,16.100000,3123.300000,764.100000,53.600000,210.200000,180.000000,14.000000,95.000000,162.000000,105.000000,1086.000000,59.000000,48.000000
823,59591.000000,1609.142857,13.142857,3936.714286,1067.857143,62.428571,188.571429,134.285714,8.571429,18.571429,185.714286,141.428571,1007.142857,62.857143,41.428571
824,112284.307692,4117.384615,24.692308,8699.923077,2057.307692,123.846154,432.076923,334.615385,19.230769,93.846154,370.769231,256.923077,1886.923077,122.307692,98.461538
825,132222.285714,4405.000000,44.142857,9169.285714,2586.000000,151.857143,774.142857,355.714286,31.428571,84.285714,440.000000,311.428571,2452.857143,151.428571,165.714286
826,329351.555556,7421.888889,101.333333,21392.888889,7215.444444,336.444444,1044.111111,574.444444,75.555556,81.111111,1077.777778,846.666667,4890.000000,343.333333,245.555556
827,164993.818182,2877.363636,44.090909,10505.090909,4260.272727,154.454545,515.000000,222.727273,33.636364,90.909091,568.181818,475.454545,2341.818182,170.000000,121.818182
828,159981.000000,5177.714286,59.000000,14098.428571,4253.000000,158.000000,771.714286,418.571429,38.571429,95.714286,595.714286,455.714286,2544.285714,165.714286,155.714286
829,200719.200000,4424.800000,68.300000,14488.400000,5109.100000,178.700000,716.900000,339.000000,48.000000,45.000000,732.000000,570.000000,2987.000000,194.000000,141.000000
830,434655.600000,3791.800000,37.000000,50860.200000,5114.000000,131.800000,503.200000,218.000000,16.000000,16.000000,528.000000,346.000000,1580.000000,134.000000,120.000000
831,41446.571429,1339.642857,2.142857,4176.071429,1258.571429,28.571429,169.500000,102.857143,1.428571,34.285714,192.857143,140.000000,639.285714,33.571429,35.714286